/* body with background image*/
body {
    margin: 0;
    padding: 0;
    /* background-image: url(/assets/images/cafe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; */
}

.section-one {
    background-image: url(/assets/images/cafe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

/* .aside {
    height: 100vh;
    width: 20%;
    color: rgb(57, 62, 46); */
    /* float: left;
}

.background-img {
    
    background-image: url("ruben-ramirez-xhKG01FN2uk-unsplash.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
} */

/***************************************************
LEFT SIDE BAR WITH NAV
*******************************************************/
.side-bar {
    background-color: rgb(84, 62, 33); 
    height: 100vh;
    width: 15%;
    float: left;
    position: fixed;
    
}
/* nav section */
nav {
    margin-bottom: 40px;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    list-style: none;
    width: 100%;
   
    line-height: 50px;
    text-align: center;
}

nav ul li a {
    display: block;
text-decoration: none;
color: white;
margin-top: 10px;
margin-bottom: 10px;
}

a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

/* .placeholder {
    background-color: rgb(255, 255, 255);
    height: 50px;
} */

.logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
 }

/* .buy-now {
    text-decoration: none;
    color: black;
    border: 5px solid white;
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: block;
    width: 80px;

} */

.address {
    color: white;
}


/***************************************************
END OF SIDEBAR WITH NAV
*******************************************************/


/***************************************************
MAIN PAGE!!!  LEFT SIDE BAR WITH NAV
*******************************************************/
.main-side-bar {
  background-color: rgb(84, 62, 33);   
    height: 100vh;
    width: 15%;
    float: left;
    position: fixed;
    
}
/* nav section */
.main-nav {
    margin-bottom: 40px;
}

.main-ul {
    padding: 0;
    list-style: none;
}

.main-li {
    list-style: none;
    width: 100%;
   
    line-height: 50px;
    text-align: center;
}

.main-a {
    display: block;
text-decoration: none;
color: white;
margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
}

/* a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
} */

/* .placeholder {
    background-color: rgb(255, 255, 255);
    height: 50px;
} */

.main-logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
 }

/* .buy-now {
    text-decoration: none;
    color: black;
    border: 5px solid white;
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: block;
    width: 80px;

} */

.main-address {
    color: white;
    text-align: center;
}


/***************************************************
  MAIN PAGE!!!  END OF SIDEBAR WITH NAV 
*******************************************************/

/***************************************** 
RIGHT SIDE LANDING PAGE
******************************************/

.alpha {
    width: 40%;
    height: 100vh;
    background-color: rgba(133, 140, 120, 0.6);
    float: right;
    /* display: block; */
    color: white;
}

.alpha .romi {
    display: block;
    margin-top: 60px;
    width: 400px;
    margin-left: 50px;
}

.alpha > h1 {
    margin-top: 40px;
    font-size: 60px;
    width: 400px;
    margin-left: 50px;
}

.alpha .description {
    width: 350px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.enter-button {
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    display: block;
    margin-left: 50px;
    margin-top: 60px;

    /* margin-bottom: 60px; */
    color: white;
    border: 0.5px solid white;
    background-color: transparent;
}


.side-bar p {
    width: 140px;
    text-align: center;
    margin: auto;

}
/* .open, .hours {
    
    margin-left: 50px;
    display: inline;
   
} */
/* text at the bottom of right side*/
.open {
    margin-left: 50px;
    width: 200px;
    /* width: 50px; */
    display: inline-block;
    width: 400px;
    font-size: 15px;
    /* margin-left: 60px; */
}

/* .hours {
    margin-left: 50px;
    width: 60px;
    font-size: 20px;
    } */

/****************************************** 
END OF LANDING PAGE 
*******************************************/


/********************************************* 
START OF MAIN SITE 
********************************************/

/* .section-one {
    width: 85%;
    float: right;
     border: 3px solid red;
    height: 100%;
}


.main-page-img {
     height: 200px; 
    width:100%;
    height:100%;
    object-fit:cover;
}

.main-rows {
    display: flex;
}

.boxes {
    width: 50%;
}

.main-page-para {
    padding: 5%;
}

.gap {
    height: 400px;
    background-color: rgba(133, 140, 120, 0.6);
}



 #image {
    height: 400px;
    width: 400px;
}  */

/******************************************* 
END OF MAN SITE 
*********************************************/


/*************************************************
SECTION TWO 
 ************************************************/
 /* .about {
   color: black;
   height: 800px;
   clear: both;
   margin-top: 20px;
   padding: 5px;
   margin-top: 100px;
   overflow: auto;
   width: 75%;
   float: right;
} */

.about {
    width: 85%;
    float: right;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border: 3px solid red;
    /* margin-top: 100px; */
    width: 90%;
    margin: 100px auto;
  }
  .one {
    grid-column: 1 / 2;
    grid-row: 1;
    border: 3px solid green;
  }
  .two {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 3px solid green;
  }
  .three {
    grid-column: 1;
    grid-row: 3 / 4;
    border: 3px solid green;
  }
  .four {
    grid-column: 2 / 3;
    grid-row: 1;
    border: 3px solid green;
  }
  .five {
    grid-column: 2;
    grid-row: 2;
    border: 3px solid green;
  }
  .six {
    grid-column: 2;
    grid-row: 3;
    border: 3px solid green;
  }
 .seven {
    grid-column: 3;
    grid-row: 1 / 4;
    border: 3px solid green;
    
 }

 .binders-keepers {
    object-fit: cover;
  width: 100%;
  max-height: 100%;
  
 }
  

/* .section-two-box {
    margin-top: 50px;
    border: 1px solid grey;
    width: 75%;
    float: right;
}

.about, h2, p {
    text-align: center;
    margin-left: 20%;
    margin-right: 50px;
    
}

.ghost-camera {
    height: 400px;
    width: 400px;
}

.main-heading-one {
    margin-top: 10PX;
    text-align: center;
} 


.about, h2, p {
    text-align: center;
    margin-left: 20%;
    margin-right: 50px;
    
} */

.section-three {
    width: 85%;
    float: right;
}


 .section-three-img {
    width: 50%;
    float: left;
    
 }  
  
 .section-three-text-box {
    width: 50%;
    float: right;
    
 }

 .section-three {
    background-color: rgb(84, 62, 33);
 }


/************************************************ 
MEDIA QUERIES 
********************************************************/

@media only screen and (max-width: 768px) {
    .side-bar {
        /* background: transparent; */
        width: 100%;
        height: auto;
    }

    nav {
        display: none; /* Hide the navigation initially */
        text-align: center;
    }

    nav ul li {
        width: 100%;
        display: inline-block;
    }

    .buy-now {
        margin-top: 20px; /* Adjust spacing */
        margin-bottom: 20px; /* Adjust spacing */
    }

    .address{
        display: none;
    }

    /* Display the hamburger menu icon */
    #menu-icon {
        display: block;
        font-size: 24px;
        color: white;
        cursor: pointer;
        text-align: right;
        margin-right: 10px;
        margin-top: 10px;
    }
}



